<a href="https://colab.research.google.com/github/ducnghich/Phython/blob/main/Week5_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Ask a user for their name and age. Ensure that they give letters for their name and numbers for their age. Then ensure that they give an age between 1 and 100, inclusive. Give them three chances for this, otherwise output a message: "Unacceptable." If they're name and age are acceptable output the message: "Acceptable"

In [16]:
#chech that the age given is a number and enforece this
ageright=True
nameright=True
chances =0 

age = input("Please give me a number for your age\t")
while not(age.isdigit()):
  if(chances>=2):
    print("You have tried 3 times") 
    ageright=False
    break
  age= input("Please enter a number for your age\t") 
  chances +=1
if (not ageright):
  print("Unacceptable.")

#convert the age to a number
else:
  age = int(age)
  print("acceptable")

chances1=0


#check that the name is a bunch of letters and not numbers and enforce this
name = input("Please give me your name:\t")
while not(name.isalpha()):
  if(chances1>=2):
    print("You have tried 3 times") 
    nameright=False
    break
  name= input("Please enter a name\t") 
  chances1 +=1
if (not nameright):
  print("Unacceptable.")
else:
  print("acceptable")

Please give me a number for your age	asd
Please enter a number for your age	qwd
Please enter a number for your age	as
You have tried 3 times
Unacceptable.
Please give me your name:	12
Please enter a name	23
Please enter a name	12
You have tried 3 times
Unacceptable.

### Print numbers with 3 in them

In [17]:
#pull the digits froma number 

for x in range(1,1001):
  hasThree=False
  holder = x 

#check if it has a three
  while (holder>0):
    if (holder%10==3):
      hasThree=True
    break
  holder= holder//10

  if(hasThree):
    print(x,end=" | ")

3 | 13 | 23 | 33 | 43 | 53 | 63 | 73 | 83 | 93 | 103 | 113 | 123 | 133 | 143 | 153 | 163 | 173 | 183 | 193 | 203 | 213 | 223 | 233 | 243 | 253 | 263 | 273 | 283 | 293 | 303 | 313 | 323 | 333 | 343 | 353 | 363 | 373 | 383 | 393 | 403 | 413 | 423 | 433 | 443 | 453 | 463 | 473 | 483 | 493 | 503 | 513 | 523 | 533 | 543 | 553 | 563 | 573 | 583 | 593 | 603 | 613 | 623 | 633 | 643 | 653 | 663 | 673 | 683 | 693 | 703 | 713 | 723 | 733 | 743 | 753 | 763 | 773 | 783 | 793 | 803 | 813 | 823 | 833 | 843 | 853 | 863 | 873 | 883 | 893 | 903 | 913 | 923 | 933 | 943 | 953 | 963 | 973 | 983 | 993 |

### Show number add to 23 and have 3 in it

In [ ]:
#pull the digits froma number 
for i in range(1,10001):
  hasThree=False
  total = 0
  x = holder  =i

  #check if it has a three
  while (holder>0):
    if (holder%10==3):
      hasThree=True
    break
  holder= holder//10

  #add the digits together 
  while (hasThree and x>0):
    total+= x%10
    x=x//10

  if(total == 23):
    print(i,end=" ")

###Even number from 100 to 0

In [18]:
for i in range (100,0,-2):
  print(i,end=" | ")

100 | 98 | 96 | 94 | 92 | 90 | 88 | 86 | 84 | 82 | 80 | 78 | 76 | 74 | 72 | 70 | 68 | 66 | 64 | 62 | 60 | 58 | 56 | 54 | 52 | 50 | 48 | 46 | 44 | 42 | 40 | 38 | 36 | 34 | 32 | 30 | 28 | 26 | 24 | 22 | 20 | 18 | 16 | 14 | 12 | 10 | 8 | 6 | 4 | 2 |

###Prime number

In [ ]:
for i in range (100,1001):
  isPrime = True

  start = 2
  while(start<i):
    if(i%start==0):
      isPrime= False 
      break
    start +=1 

  if(isPrime):
    print(i,end=" ")